<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/fossasia-logo.png"> <a href="https://2018.fossasia.org/">FOSSASIA</a></h2>
                    <h5>By Nitish Chauhan (<a href="https://nitish18blog.wordpress.com/2018/03/30/my-talk-at-fossasia-summit-2018/">Original post</a>)</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                               <img width="100%" src="images/events/fossasia.jpg" alt=""/>
                               <!-- <figcaption>Neofytos Kolokotronis explains how to facilitate the onboarding of new members into the community.</figcaption> -->
                            </figure>

                            <p>The <a href="https://2018.fossasia.org/">FOSSASIA Summit 2018</a> took place in March in Singapore. Attending the summit was a great experience, and the best part was that I had a chance to give a talk titled "How GCompris is impacting school education".</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>GCompris is one of the projects developed by the KDE Edu team. Essentially, it is a suite of high-quality educational applications mainly aimed at children between the ages of 2 and 10.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>GCompris contains many activities designed as games, which helps young children learn in a fun way through animations and graphics. I presented that and much more in my talk, which is available <a href="https://youtu.be/Ae-A5nRYiRU">on YouTube</a>. You can also check out <a href="https://docs.google.com/presentation/d/1s2xO2SIYactwvYdFn84ebn3Fiodl2El37n_8VmcuGsI/edit?usp=sharing">my slides from the talk</a>.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Representing KDE at such an important event was an incredible experience. I look forward to contributing to KDE again, and thank the KDE community for their support.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <br/>
</section>
