<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/neon-logo.svg" /> Linkat-Neon Sprint, October 2018, Barcelona</h2>
                    <h5>By Jonathan Riddell</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                             <figure class="image-full">
                                <img width="100%" src="images/sprints/linkat_escola.jpg" alt=""/>
                                <!-- <figcaption>Neofytos Kolokotronis explains how to facilitate the onboarding of new members into the community.</figcaption> -->
                             </figure>                        
                            
                        
                            <p>In October 2018, developers from the KDE neon and Plasma teams visited Barcelona. We were there to meet with KDE-related software projects in the Catalan government and schools that we had heard about. Aleix Pol lives locally and works on Plasma and Discover. He invited Plasma release manager and KDE neon developer Jonathan Riddell, KDE neon continuous integration master Harald Sitter, and hardware enablement guru Rohan Garg to meet the teams evaluating our software and supporting our users.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-right">
                                <img width="100%" src="images/sprints/linkat_generalitat.jpg" alt=""/>
                                <figcaption>Meeting with Pablo of Catalan Generalitat distro Linkat.</figcaption>
                            </figure>                
                            <p>We first met Pablo, who runs the <a href="http://linkat.xtec.cat">Linkat project</a> for the Catalan government. Linkat is a Linux distribution they offer to schools, and it currently runs lightweight, simple desktop environments. As Plasma 5 now tends to use as little or less memory and resources than many lightweight Linux desktops, the Linkat team is interested in trying it. We met with the officials from the education department and discussed accessibility needs, looking at <a href="https://mycroft.ai/">Mycroft for voice control</a> and <a href="https://community.kde.org/KDEConnect">integrating with phones using KDE Connect</a>.</p>
                            
                            <p>The next day we visited the largest technical school in Catalonia, the Escola del Treball (<a href="http://www.escoladeltreball.org">”school of the workers”</a>). Within their impressive Gaudí-inspired building, they run a few thousand computers on which they are trying to reduce the costs. They showed us the setup they had developed using thin clients with a simple Atom computer or Raspberry Pi. The thin clients use a remote desktop protocol to talk to virtual machines on a central server. The technically-minded teachers can customize what's running on the virtual machine with a range of distributions and operating systems available. Their server has hosted over 3000 virtual machine images just on the trial computers, all for the individual use-cases of the teaching staff. Unlike with proprietary setups, this means they do not have to ask for a budget to install software.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>They discussed some problems their virtual machine software was having with Plasma and tested some fixes made by Aleix. Rohan was interested in finding the best machines they could use for their thin clients.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>In the evening, we met with developer Angel Docampo and talked about the deployment he worked on for the Ajuntament (city council) of Barcelona. The Ajuntament is also interested in moving towards Free Software on their computers. This deployment is based on Kubuntu, and it is currently in trial by about 30 employees. Angel reported they are happy with the setup; however, taking it further will likely depend on the politicians' will to drive the change forward.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>As we were about to leave, we learned about a project called openUAB at the Autonomous University of Barcelona. They are making a KDE neon-based system for their own uses. We expect to find out more about this project after Aleix meets with them in the upcoming weeks.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>This was an exciting trip that opened our eyes to the increasing number and variety of users and use-cases of KDE software. The insights we collected will help us deliver better software, and strengthen the bonds between our community and the rest of the world.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <br/>
</section>
