<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/plasma.png" /> Plasma Sprint, April 2018, Berlin</h2>
                    <h5>By Jonathan Riddell</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img  width="100%" src="images/sprints/plasma_8d7b5f11-8a2a-4a16-b79a-e21680912c0d.jpg" alt=""/>
                            </figure>                           
                        
                            <p>In April 2018, the developers of <a href="https://www.kde.org/plasma-desktop">Plasma</a>, KDE's featureful, flexible and Free desktop environment, held a sprint in Berlin, Germany. The developers gathered to discuss the forthcoming 5.13 release and the development of Plasma. Of course, they didn't just sit and chat - a lot of coding got done, too.</p>
                        </div>
                    </div>
                </div>

            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>During the sprint, the Plasma team was joined by guests from Qt and <a href="http://swaywm.org/">Sway WM</a>. Discussion topics included sharing Wayland protocols, input methods, Plasma Browser Integration, tablet mode for Plasma's shell, porting KControl modules to QtQuick, and last but not least, the best beer in Berlin.</p>
                        </div>
                    </div>
                </div>

            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The effort to port Plasma to work on Wayland rather than X continued at a fast pace. Wayland protocols define how applications interact with the display, including tasks essential to Plasma such as declaring which "window" is really a panel. These protocols have to be defined by the Plasma team and preferably standardized with other users of the Linux desktop.</p>
                        </div>
                    </div>
                </div>

            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>One newcomer to the field is SwayWM - a Wayland version of the i3 window manager. Drew DeVault, the lead developer of the project, joined our Plasma sprint to discuss where Wayland protocols could be shared. The team looked at their Layer Protocol, which covers much of the work of the current plasmashell protocol. We found that this protocol contains some nice ideas and suggested some improvements for the SwayWM developers.</p>
                            
                            <p>The Plasma Output Management Protocol was also discussed. This protocol defines how external monitors are used, and Sway currently just reloads configuration files as needed. The team will consider this solution if the need for such a protocol arises. Protocols for Remote Access were compared and reviewed along with <a href="https://pipewire.org/">Pipewire</a> as systems for managing audio and video. <a href="https://drewdevault.com/2018/04/28/KDE-Sprint-retrospective.html">Drew wrote a blog post</a> with more information on this topic.</p>
                            
                            <figure class="image-right">
                                <img width="100%" src="images/sprints/plasma_bece1e2c-1dbc-4bf4-bfbd-4eb522bb4fbe.jpg" alt=""/>
                                <!--<figcaption>KItinerary, Kontact's new trip-planning software, received improvements and new features.</figcaption>-->
                            </figure>
                            
                            <p>Shawn Rutledge, the lead developer of Qt's new input stack, also joined us for a few days of the sprint. Together, we reviewed the new API and looked at how some of the unique use-cases of Plasma would work with it. The conclusion was that "some parts, including complex drag-and-drop actions, went surprisingly smoothly".</p>
                            
                            <p>A bunch of design changes were suggested and improvements submitted. Working with Qt developers at this early stage is a great win for both projects, as it saves KDE developers a lot of time when they come to use the new features, while the Qt world gets a nicer result.</p>
                        
                            <p>Plasma Browser Integration is a fun feature that was shipped with Plasma 5.13 in May.</p>
                            
                            <p>It makes Firefox and Chrome/Chromium use Plasma's file transfer widget for downloads, and native Plasma notifications for browser notifications. Moreover, media controls work with the task manager.</p>
                            
                            <p>The browser extensions were tidied up, translations fixed, and accounts on the relevant browser store websites set up. We decided to make it our collective duty to ensure <a href="https://www.falkon.org">KDE's new web browser Falkon</a> is at feature-parity in terms of Plasma integration.</p>

                            <figure class="image-left">
                                <img width="100%" src="images/sprints/plasma-sprint-pinebook.jpg" alt=""/>
                                <figcaption>Plasma running on the $99 Pinebook.</figcaption>
                            </figure>
                            
                            <p>The team continued to work on convergence with other form factors - in other words, on making Plasma run seamlessly on a variety of devices, both desktop and mobile. Bhushan worked on Plasma Mobile images for devices which support upstream kernel, which is essential for security and a more up-to-date system on mobile devices.</p>
                
            
                            <p>Rohan worked on making Plasma run smoothly and with all Free drivers on the low-end Pinebook laptop. This showed that Plasma can function as a lightweight desktop environment without losing its features. Lastly, Marco got Plasma working on a convertible laptop with support for switching into tablet mode, illustrating how we can actively shift between form factors.</p>

                            <p>Throughout the week, we also gave talks to our host company <a href="https://endocode.com/">Endocode</a> who kindly lent us their central Berlin offices. Special thanks to long-term KDE contributor Mirko of Endocode, who impressed us with his multi-monitor multi-activity high-definition display Plasma setup.</p>

                            <p>We also hosted an evening meetup for the local group of <a href="https://fsfe.org/">Free Software Foundation Europe</a> members and gave some talks over burritos. Having checked off all the items from our to-do list, we concluded another successful Plasma sprint.</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <br/>
</section>
