<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/qtconbr.png" /> <a href="https://br.qtcon.org/">QtCon Brasil</a></h2>
                    <h5>By Kai Uwe Broulik (<a href="https://blog.broulik.de/2018/11/what-a-roadtrip-qtcon-brasil/">Original post</a>)</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img  width="100%" src="images/events/qtcon_br_grouplarge.jpg" alt=""/>
                                <!--<figcaption>Thanks to Community onboarding efforts, nearly half the attendees were new KDE members at Akademy 2018.</figcaption>-->
                            </figure>                        
                            <p>In Early November of 2018, I had the chance to give a keynote speech at <a href="https://br.qtcon.org/">QtCon Brasil</a> in São Paulo, Brazil. It was the second leg of a three weeks long trip across the Americas that began with a company meeting in the US.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>After a ten hour flight on the Airbus A330 pictured, I arrived at Guarulhos airport in the morning. I was lucky to have found myself on a half-empty plane with an entire row of seats for me alone. The conference lasted Thursday to Sunday with the first two days reserved for embedded programming and 3D development trainings. Not having signed up for any of these, I took the opportunity to explore the city on Friday. I visited the Museu de Arte de São Paulo (MASP) and walked over to the district of Liberdade which is home to the largest Japanese community outside Japan. Unfortunately, I couldn't visit the Museum of the Japanese Immigration as they didn't accept credit cards.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Saturday and Sunday is when the main talks happened. With my rudimentary Latin and Spanish knowledge I tried to make the most of them, since they were all held in Portugese. Nonetheless, I quite enjoyed the talks about Qt for Python, a live demo of a setup using Boot to Qt, and Qt "for Robots".</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>My speech was Sunday morning. Entitled "Plasma for Device Creation", I explained to the audience what Plasma is, how flexible it is, and that it can be virtually anything you want it to be. An important part of the presentation was to present ways to get in touch with the KDE Community and who to approach when you want to realize this amazing product vision you might have. While there was no recording of my talk, you can download the slides as a PDF.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Many thanks to the organizers of QtCon Brasil for hosting the event, spreading the word about Qt down there, and inviting me over to my first trip to the South American continent!</p>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br/>
</section>
