<div class="thoughts-container">
  <div id="quote-photo">
    <img
      class="img-circle center-block img-responsive"
      src="images/Quotes/Michael_Mikowski.png"
    />
  </div>
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        We have always seen KDE as a key component in delivering Linux systems
        that compete favorably with proprietary computers. In fact, it’s the
        only desktop environment we’ve ever shipped.
      </p>
      <p class="block-text">
        Customers today want Linux systems that are self-explanatory and work in
        low- or no-I.T. environments. They also require easy setup and automatic
        updates, where every major change is validated on their device before
        they see it, even years after the sale.
      </p>
      <p>
        Because KDE is so intuitive and welcoming, we can focus on the other
        components needed to deliver a polished product and ecosystem that
        showcases this beautiful desktop. We’re proud to be a tester,
        contributor, and patron.
      </p>
      <hr />
      <div>
        <p class="float-xs-left">
          <i
            >Michael S. Mikowski, Technical Product Manager,
            <a href="https://kfocus.org">Kubuntu Focus</a></i
          >
        </p>
      </div>
    </blockquote>
  </div>
</div>

<div class="thoughts-container">
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        We at g10 Code are delighted to be a patron of KDE. KMail was one of the
        first mail clients to integrate GnuPG support back in 1999, empowering
        users to protect their email privacy in a user-friendly way. Today,
        GnuPG is approved for VS-NfD and EU Restricted communications, and
        Kleopatra, KDE's interface for GnuPG, has become an integral part of our
        professionally supported
      </p>
      <p class="block-text">
        GnuPG VS-Desktop suite. This integration allows us to maintain Gpg4win,
        our free of charge community version, as one of the most popular KDE
        software distributions for Windows. And we are pleased to be able to
        give back to the KDE community with both development resources and
        financial support.
      </p>
      <hr />
      <div>
        <p class="float-xs-left">
          <i
            >Werner Koch, founder and CEO of
            <a href="https://gnupg.com/">g10 Code</a></i
          >
        </p>
      </div>
    </blockquote>
  </div>
  <div id="quote-photo">
    <img
      class="img-circle center-block img-responsive"
      src="images/Quotes/Werner_Koch.jpg"
    />
  </div>
</div>
