<section id="the-board" class="gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>KDE e.V. Board of Directors</h2>
                </div>
            </div>
        </div>
        <br/>
        <div class="row count">
            <div class="col-sm-4 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>
                    <img class="img-circle center-block img-responsive" src="images/lydia.jpg"/>
                </p>
                <p>Lydia Pintscher
                    <br/>
                    <i>President</i>
                </p>
            </div>
            <div class="col-sm-4 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p>
                    <img class="img-circle center-block img-responsive" src="images/marta.png"/>
                </p>
                <p>Marta Rybczynska
                    <br/>
                    <i>Treasurer and Vice President</i>
                </p>
            </div>
            <div class="col-sm-4 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
                <p>
                    <img class="img-circle center-block img-responsive" src="images/apol.jpg"/>
                </p>
                <p>Aleix Pol i Gonzàlez
                    <br/>
                    <i>Vice President</i>
                </p>
            </div>
        </div>
        <div class="row count">
            <div class="col-sm-4 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>
                    <img class="img-circle center-block img-responsive" src="images/aacid.jpg"/>
                </p>
                <p>Albert Astals Cid
                    <br/>
                    <i>Board Member (until August)</i>
                </p>
            </div>
            <div class="col-sm-4 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>
                    <img class="img-circle center-block img-responsive" src="images/thomas.jpg"/>
                </p>
                <p>Thomas Pfeiffer
                    <br/>
                    <i>Board Member (since September)</i>
                </p>
            </div>
            <div class="col-sm-4 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p>
                    <img class="img-circle center-block img-responsive" src="images/sandro.jpg"/>
                </p>
                <p>Sandro Andrade
                    <br/>
                    <i>Board Member</i>
                </p>
            </div>
        </div>
    </div>
</section>
