<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://neon.kde.org/" target="_blank"><img src="images/neon-logo.png"/></a> KDE Neon
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/neon.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>KDE Neon</h3>
                                    <p>Solid Core, Latest Features</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/neon.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>In February 2016, KDE neon was publicly announced to the world with the immediate availability of preview packages and installable images for testing purposes. neon is the latest of KDE’s binary build projects with focus on Linux and testing. Its announcement was followed by great excitement and early-adopters joining the team in a testing capacity. Following the great feedback on the preview packages, the first User Edition builds became available in June, featuring the newly released Plasma 5.6.0. Since then, neon’s continuous delivery model allowed users and testers to try the latest Plasma only hours after its release.</p>
                    <p>In July, KDE developers were invited to a sprint in Heidelberg to explore the potential of snap binary bundles for Linux and their benefits for KDE. Snaps, as they are called, are a new binary format like DEB or RPM, but that allow the installation of ready-to-use software in a manner independent of one's Linux distribution. As a result, neon gained preliminary snap builds as part of its existing build infrastructure to test and possibly rely on snaps instead of conventional packages in the future. To celebrate KDE's 20th birthday, an event in Seoul, South Korea was supplied with a special Korean Edition of KDE neon. User reviews of KDE neon were overwhelmingly positive, with some forgetting they were using it because they had no problems, and others simply feeling amazed by its quality and polish. To quote one user: "KDE neon is the bee's knees".</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
